._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX, ._3pXasCUulX4jjqO79s4q_F /*整体背景从body数第四层，第五层第一个*/{
	background: transparent !important;
}

._3mz8wQ6Q44B8P7pzPP4Iyw /*整体背景从body数第五层*/{
	background-image: url("main.jpg");
	background-position: center;
	background-size: cover;
}

._2TKEazUUS3TlniZfpc8OOe/*库列表顶部第一层*/ {
	background: transparent !important;
}

._3Z7VQ1IMk4E3HsHvrkLNgo, ._2CmrnGY-Amtd83ScJkFvx2, .UkR3sY319PuaUNuUWks2K, ._3vCzSrrXZzZjVJFZNg9SGu /*标题栏第一层，标题栏下方那一条（库第二层的第一个元素），商店网址栏，下栏第二层*/ {
	background: rgba(var(--main), var(--st-border-transparency)) !important;
}

._3pSPluBgf0NeR1kkCLWMhR, ._2PF_m-I5yte3WnQhpcz8RC, ._20QAC4WMXm8qFE8waUT5oo/*库列表顶部第一类第三层第一类，第二类第三层第一类，第三类*/ {
	background: rgba(var(--main), 0.5) !important;
}

.RGNMWtyj73_-WdhflrmuY /*库（下载）第二层第一类*/{
	background: transparent !important;
}

._3x1HklzyDs4TEjACrRO2tB /*库游戏列表第二层*/{
	background: rgba(var(--main), var(--st-list-transparency)) !important;
}

._2gSXCB6PbOlMxslr8hm6dm/*库右侧第四层第二类*/ {
	background: transparent !important;
}

._2Dd4T78PcCTUVgOtDGFY5j, ._2g5K_hJWc7jVo81zuejhk2/*库右侧第二层和缝第二类*/ {
	background: rgba(var(--main), var(--st-main-transparency)) !important;
}

._17uEBe5Ri8TMsnfELvs8-N/*新情报速递*/ {
	background: transparent !important;
}

._3Sb2o_mQ30IDRh0C72QUUu/*添加新陈列架*/ {
	background: transparent !important;
}

._3lDczhulqraStjCitLYJ1K/*库右侧第五层第一类，beta*/ {
	background: transparent !important;
}

._2sNr7PFYcJZWNkEMCDVVPR/*全部游戏(库右侧第四层第二类)，beta*/ {
	background: transparent !important;
}

._1bq4x9pa4-9RLY-dXWUZTp /*下载父容器（下载第七层）*/ {
	background: transparent !important;
}

._3Mbhnlk1Go2j8yCdjthzc7/*速度第二层第一类（速度左）*/ {
	background: transparent !important;
}

._24D3LpyHe8-HbiQftVVsna/*速度第五层第三个元素（速度右）*/ {
	background: transparent !important;
}

._1VNuYHM6BPBOJspC6zPf5r /*下载项第一类*/{
	background: transparent !important;
}

._2sYIghGVXJr6tsQVvcryy8/*游戏分组标签第一类*/ {
	background: linear-gradient(to right, rgba(var(--list-1), var(--st-group-transparency)) 40%, rgba(var(--list-2), 0) 100%) !important;
}

.Jbe--NUNw7sxbxGsMSjVa/*游戏内容中间部分*/ {
	background: transparent !important;
}