:root {
	/* 
    * @name master 
    * @description darktheme
    */
	--main: 0, 0, 0;
	--list-1: 41, 47, 59;
	--list-2: 62, 78, 105;
	--raw-rgba: 123, 123, 123, 0.5;
	--msg-hover: #292c34;
	--st-border-transparency: 50%;
	--st-store-transparency: 30%;
	--st-main-transparency: 30%;
	--st-list-transparency: 30%;
	--st-group-transparency: 0%;
	--fd-border-transparency: 30%;
	--fd-group-transparency: 70%;
	--fd-list-transparency: 50%;
	--ch-border-transparency: 30%;
	--ch-tag-transparency: 10;
	--ch-history-transparency: 50%;
	--ch-input-transparency: 10%;
}

._2-O4ZG0KrnSrzISHBKctFQ:hover/*库列表悬停*/ {
	background-color: rgba(50, 58, 75, 0.5)
}