._3mz8wQ6Q44B8P7pzPP4Iyw /*整体背景从body数第五层*/{
	background-image: url("main.jpg");
	background-position: center;
	background-size: cover;
}

._2TKEazUUS3TlniZfpc8OOe/*库列表顶部第一层*/ {
	background: transparent !important;
}

._3Z7VQ1IMk4E3HsHvrkLNgo, ._2CmrnGY-Amtd83ScJkFvx2, .UkR3sY319PuaUNuUWks2K, ._3vCzSrrXZzZjVJFZNg9SGu /*标题栏第一层，标题栏下方那一条（库第二层的第一个元素），商店网址栏，下栏第二层*/ {
	background: rgba(0, 0, 0, 0.7) !important;
}

._3pSPluBgf0NeR1kkCLWMhR/*库列表顶部第三层第一类*/ {
	background: rgba(0, 0, 0, 0.5) !important;
}

.RGNMWtyj73_-WdhflrmuY /*库（下载）第二层第一类*/{
	background: transparent !important;
}

._3x1HklzyDs4TEjACrRO2tB /*库游戏列表第二层*/{
	background: rgba(0, 0, 0, 0.5) !important;
}

._2gSXCB6PbOlMxslr8hm6dm/*库右侧第四层第二类*/ {
	background: transparent !important;
}

._2Dd4T78PcCTUVgOtDGFY5j, ._2g5K_hJWc7jVo81zuejhk2/*库右侧第二层和缝第二类*/ {
	background: rgba(0, 0, 0, 0.5) !important;
}

._17uEBe5Ri8TMsnfELvs8-N/*新情报速递*/ {
	background: transparent !important;
}

._3Sb2o_mQ30IDRh0C72QUUu/*添加新陈列架*/ {
	background: transparent !important;
}

._3lDczhulqraStjCitLYJ1K/*库右侧第五层第一类，beta*/ {
	background: transparent !important;
}

._2sNr7PFYcJZWNkEMCDVVPR/*全部游戏(库右侧第四层第二类)，beta*/ {
	background: transparent !important;
}

._1bq4x9pa4-9RLY-dXWUZTp /*下载父容器（下载第七层）*/ {
	background: transparent !important;
}

._3KDkLoCR8OM8xfdQysKn9t/*速度*/ {
	background: transparent !important;
}

._1VNuYHM6BPBOJspC6zPf5r /*下载项第一类*/{
	background: transparent !important;
}

._2sYIghGVXJr6tsQVvcryy8/*游戏分组标签第一类*/ {
	background: linear-gradient(to right, rgba(41, 47, 59, 1) 40%, rgba(62, 78, 105, 0) 100%) !important;
}