._3mz8wQ6Q44B8P7pzPP4Iyw {
	background-image: url("main.jpg");
	background-position: center;
	background-size: cover;
}

._2TKEazUUS3TlniZfpc8OOe {
	background: transparent !important;
}

._3Z7VQ1IMk4E3HsHvrkLNgo, ._2CmrnGY-Amtd83ScJkFvx2, .UkR3sY319PuaUNuUWks2K, ._3vCzSrrXZzZjVJFZNg9SGu {
	background: rgba(0, 0, 0, 0.7) !important;
}

._3pSPluBgf0NeR1kkCLWMhR {
	background: rgba(0, 0, 0, 0.5) !important;
}

.RGNMWtyj73_-WdhflrmuY, ._2Dd4T78PcCTUVgOtDGFY5j {
	background: transparent !important;
}

._3x1HklzyDs4TEjACrRO2tB {
	background: rgba(0, 0, 0, 0.5) !important;
}

._2Dd4T78PcCTUVgOtDGFY5j, ._2gSXCB6PbOlMxslr8hm6dm {
	background: transparent !important;
}

._17uEBe5Ri8TMsnfELvs8-N {
	background: transparent !important;
}

._3Sb2o_mQ30IDRh0C72QUUu {
	background: transparent !important;
}

.g6MwhS-JgwOuj2uZKbi0K {
	background: transparent !important;
}

.OhSdLYuggDtBcWjYP0j_9 {
	background: transparent !important;
}

._2g5K_hJWc7jVo81zuejhk2 {
	background: transparent !important;
}

._15J5LL1tqeF6S9caL-2P-c {
	background: transparent !important;
}

._1bq4x9pa4-9RLY-dXWUZTp {
	background: transparent !important;
}

._3KDkLoCR8OM8xfdQysKn9t {
	background: transparent !important;
}

._1VNuYHM6BPBOJspC6zPf5r {
	background: transparent !important;
}